apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    uid: tempo

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    uid: loki

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: prometheus
    jsonData:
      httpMethod: GET
      timeInterval: 5s
    version: 1
    editable: true
